.footer {
}

.form-section > .wrapper {
    display: flex;
    padding: 40px 20px 20px;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    margin-top: 20px;
    gap: 8px;

    & > input {
        min-width: 380px;
        padding: 17px 11px;
        font: var(--f-component-base);
        border: 1px solid var(--c-dark);
    }

    & > input::placeholder {
        color: var(--c-disabled);
        text-transform: uppercase;
    }

    & > input:hover,
    & > input:focus {
        outline: none;
        border: 1px solid var(--c-accent);
    }

    & > button {
        min-width: 200px;
    }
}

.contacts {
    background-color: var(--c-dark);
}

.contacts nav {
    padding: 20px 0;
}
