.form-section > .wrapper {
    padding: 40px 20px 20px;
}

.form-section h3 {
    text-align: center;
}

.form {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    gap: 8px;

    & > input {
        min-width: 380px;
        max-width: 380px;
        padding: 17px 11px;
        font: var(--f-component-base);
        border: 1px solid var(--c-dark);

        @media (max-width: 1439px) {
            min-width: unset;
            width: 100%;
        }
    }

    & > input::placeholder {
        color: var(--c-disabled);
        text-transform: uppercase;
    }

    & > input:hover,
    & > input:focus {
        outline: none;
        border: 1px solid var(--c-accent);
    }

    & > button {
        min-width: 200px;
        max-width: 200px;
    }
}

.contacts {
    padding: 20px 0;
    background-color: var(--c-dark);
}
