.portfolio {
    padding: 60px 0;
    color: var(--c-light);
    background-color: var(--c-dark);
}

.portfolio > .wrapper {
    padding: 0 20px;
}

.portfolio h2 {
    margin-bottom: 12px;
}

.portfolio__gallery {
    position: relative;
    margin-top: 40px;
}

.slider {
    display: grid;
    min-height: 654px;
    max-height: 654px;
    padding: 0 20px;
    grid-template-columns: 400px 220px 280px 400px 280px 220px 280px 400px 220px 280px 280px 400px;
    align-items: center;
    gap: 20px;
    overflow: hidden;

    @media (max-width: 1439px) {
        scroll-snap-type: x mandatory;
        overflow: auto;
    }

    > img {
        width: 100%;
        object-fit: contain;
        scroll-snap-align: center;
    }

    > img:nth-child(3),
    > img:nth-child(5),
    > img:nth-child(11) {
        padding-top: 120px;
    }

    .top {
        align-self: start;
    }

    .bottom {
        align-self: end;
    }
}

.slide__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;

    @media (max-width: 1439px) {
        display: none;
    }
}

.slide__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;

    @media (max-width: 1439px) {
        display: none;
    }
}
