.button {
    width: 100%;
    padding: 18px 20px;
    font: var(--f-component-base);
    color: var(--c-light);
    text-transform: uppercase;
    border: none;
    background-color: var(--c-dark);
    cursor: pointer;
    transition: color 0.24s ease-out, background-color 0.24s ease-out;
}

.button:hover {
    color: var(--c-dark);
    background-color: var(--c-accent);
}
