.menu {
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

.menu_center {
    justify-content: center;
}

.menu__item {
    padding: 18px 20px;
    font: var(--f-component-base);
    text-transform: uppercase;
}

.menu__item > a {
    color: var(--c-light);
    text-decoration: none;
    transition: color 0.24s ease-out;
}

.menu__item > a:hover {
    color: var(--c-accent);
}
