@import url('base/index.css');
@import url('components/index.css');
@import url('layout/index.css');

html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
}

body {
    /* font-family: var(--ff-system); */
    font: var(--f-body-base);
}

* {
    box-sizing: border-box;
}

h1 {
    font: var(--f-heading-h1);
    text-transform: uppercase;
}

h2 {
    font: var(--f-heading-h2);
    text-transform: uppercase;
}

h3 {
    font: var(--f-heading-h3);
    text-transform: uppercase;
}

h4 {
    font: var(--f-heading-h4);
}

.wrapper {
    max-width: var(--desktop-width);
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 1439px) {
        max-width: var(--pad-width);
    }
}
